*~
moc_*
qrc_*
*.o
Makefile
.DS_Store
._*
__*
.Spotlight-V100
.Trashes
Thumbs.db
qstit
Makefile.Debug
Makefile.Release
object_script.qstit.Debug
object_script.qstit.Release
release/
build-stamp
configure-stamp
debian/files
debian/qstit.substvars
debian/qstit.debhelper.log